1.Library yang digunakan

In [27]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder

2.Data Assesment & Preprocessing

In [9]:
paru_dataset = pd.read_csv("data__paru.csv")

In [10]:
paru_dataset.head()

,No,Usia,Jenis_Kelamin,Merokok,Bekerja,Rumah_Tangga,Aktivitas_Begadang,Aktivitas_Olahraga,Asuransi,Penyakit_Bawaan,Hasil
0,1,Tua,Pria,Pasif,Tidak,Ya,Ya,Sering,Ada,Tidak,Ya
1,2,Tua,Pria,Aktif,Tidak,Ya,Ya,Jarang,Ada,Ada,Tidak
2,3,Muda,Pria,Aktif,Tidak,Ya,Ya,Jarang,Ada,Tidak,Tidak
3,4,Tua,Pria,Aktif,Ya,Tidak,Tidak,Jarang,Ada,Ada,Tidak
4,5,Muda,Wanita,Pasif,Ya,Tidak,Tidak,Sering,Tidak,Ada,Ya

In [97]:
paru_dataset.drop('No',axis=1)

,Usia,Jenis_Kelamin,Merokok,Bekerja,Rumah_Tangga,Aktivitas_Begadang,Aktivitas_Olahraga,Asuransi,Penyakit_Bawaan,Hasil
0,1,0,1,0,1,1,1,0,1,1
1,1,0,0,0,1,1,0,0,0,0
2,0,0,0,0,1,1,0,0,1,0
3,1,0,0,1,0,0,0,0,0,0
4,0,1,1,1,0,0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...
29995,0,0,0,0,1,1,0,0,1,0
29996,1,1,0,1,0,1,0,0,0,0
29997,1,1,0,1,0,1,0,0,0,0
29998,0,1,1,1,0,0,1,1,0,0
29999,1,1,1,0,1,0,1,1,1,1

In [11]:
paru_dataset.shape

(30000, 11)

In [30]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [58]:
# Mengubaah Dari Kategori Ke Numerik
paru_dataset['Usia'] = le.inverse_transform(paru_dataset['Usia'])
le_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
print(le_name_mapping)

{0: 0, 1: 1}

In [59]:
paru_dataset['Usia'] = le.fit_transform(paru_dataset['Usia'])

# Simpan pemetaan nama kategori ke nilai numerik
le_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
print("Pemetaan Nama Kategori ke Nilai Numerik:", le_name_mapping)

# Mengembalikan kolom 'Usia' ke bentuk kategori semula
paru_dataset['Usia'] = le.inverse_transform(paru_dataset['Usia'])

# Mengembalikan nilai numerik ke kategori semula berdasarkan pemetaan yang sudah disimpan
paru_dataset['Usia'] = paru_dataset['Usia'].map({v: k for k, v in le_name_mapping.items()})

# Mencetak kategori semula
print("Kategori Semula:")
print(paru_dataset['Usia'])

Pemetaan Nama Kategori ke Nilai Numerik: {0: 0, 1: 1}
Kategori Semula:
0        1
1        1
2        0
3        1
4        0
        ..
29995    0
29996    1
29997    1
29998    0
29999    1
Name: Usia, Length: 30000, dtype: int32

In [66]:
paru_dataset['Usia'] = paru_dataset['Usia'].map({v: k for k, v in le_name_mapping.items()})

In [35]:
paru_dataset['Jenis_Kelamin'] = le.fit_transform(paru_dataset['Jenis_Kelamin'])
le_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
print(le_name_mapping)

{'Pria': 0, 'Wanita': 1}

In [36]:
paru_dataset['Merokok'] = le.fit_transform(paru_dataset['Merokok'])
le_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
print(le_name_mapping)

{'Aktif': 0, 'Pasif': 1}

In [37]:
paru_dataset['Bekerja'] = le.fit_transform(paru_dataset['Bekerja'])
le_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
print(le_name_mapping)

{'Tidak': 0, 'Ya': 1}

In [38]:
paru_dataset['Rumah_Tangga'] = le.fit_transform(paru_dataset['Rumah_Tangga'])
le_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
print(le_name_mapping)

{'Tidak': 0, 'Ya': 1}

In [39]:
paru_dataset['Aktivitas_Begadang'] = le.fit_transform(paru_dataset['Aktivitas_Begadang'])
le_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
print(le_name_mapping)

{'Tidak': 0, 'Ya': 1}

In [40]:
paru_dataset['Aktivitas_Olahraga'] = le.fit_transform(paru_dataset['Aktivitas_Olahraga'])
le_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
print(le_name_mapping)

{'Jarang': 0, 'Sering': 1}

In [41]:
paru_dataset['Asuransi'] = le.fit_transform(paru_dataset['Asuransi'])
le_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
print(le_name_mapping)

{'Ada': 0, 'Tidak': 1}

In [42]:
paru_dataset['Penyakit_Bawaan'] = le.fit_transform(paru_dataset['Penyakit_Bawaan'])
le_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
print(le_name_mapping)

{'Ada': 0, 'Tidak': 1}

In [43]:
paru_dataset['Hasil'] = le.fit_transform(paru_dataset['Hasil'])
le_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
print(le_name_mapping)

{'Tidak': 0, 'Ya': 1}

In [98]:
paru_dataset.dtypes

No                    int64
Usia                  int32
Jenis_Kelamin         int32
Merokok               int32
Bekerja               int32
Rumah_Tangga          int32
Aktivitas_Begadang    int32
Aktivitas_Olahraga    int32
Asuransi              int32
Penyakit_Bawaan       int32
Hasil                 int32
dtype: object

In [44]:
paru_dataset['Hasil'].value_counts()

Hasil
0    15648
1    14352
Name: count, dtype: int64

In [114]:
# memisahkan data dan label
X = paru_dataset.drop (columns=['Hasil','No'], axis=1)
Y = paru_dataset['Hasil']

In [115]:
print(X)

       Usia  Jenis_Kelamin  Merokok  Bekerja  Rumah_Tangga  \
0         1              0        1        0             1
1         1              0        0        0             1
2         0              0        0        0             1
3         1              0        0        1             0
4         0              1        1        1             0
...     ...            ...      ...      ...           ...
29995     0              0        0        0             1
29996     1              1        0        1             0
29997     1              1        0        1             0
29998     0              1        1        1             0
29999     1              1        1        0             1

       Aktivitas_Begadang  Aktivitas_Olahraga  Asuransi  Penyakit_Bawaan
0                       1                   1         0                1
1                       1                   0         0                0
2                       1                   0         0                1
3                       0                   0         0                0
4                       0                   1         1                0
...                   ...                 ...       ...              ...
29995                   1                   0         0                1
29996                   1                   0         0                0
29997                   1                   0         0                0
29998                   0                   1         1                0
29999                   0                   1         1                1

[30000 rows x 9 columns]

In [71]:
print(Y)

0        1
1        0
2        0
3        0
4        1
        ..
29995    0
29996    0
29997    0
29998    0
29999    1
Name: Hasil, Length: 30000, dtype: int32

3.Standarisasi Data

In [16]:
scaler = StandardScaler()

4. Split Data (Data Training & Data Testing)

In [116]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [117]:
print(X.shape, X_train.shape, X_test.shape)

(30000, 9) (24000, 9) (6000, 9)

5.Membuat Model Evaluasi menggunkan FeatureEngineering RandomForest untuk Mengukur Akurasi

In [77]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [121]:
rf_model = RandomForestClassifier()
rf_model.fit(X_train, Y_train)
y_pred = rf_model.predict(X_test)
print("Accuracy:", accuracy_score(Y_test, y_pred))
print(classification_report(Y_test, y_pred))

Accuracy: 0.9446666666666667
              precision    recall  f1-score   support

           0       0.90      1.00      0.95      3130
           1       1.00      0.88      0.94      2870

    accuracy                           0.94      6000
   macro avg       0.95      0.94      0.94      6000
weighted avg       0.95      0.94      0.94      6000

6. simpan Model

In [86]:
import pickle

In [122]:
filename = 'paru_model.sav'
pickle.dump(rf_model, open(filename, "wb"))

In [123]:
loaded_model = pickle.load(open("paru_model.sav", "rb"))
pred = loaded_model.predict(X[0:1])
if(pred[0] == 0):
    print('Tidak Terjangkit Penyakit Paru-Paru')
else :
    print('Terjangkit')

Terjangkit